.card {
  position: relative;
  width: 225px;
  height: 225px;
  backface-visibility: hidden;
  transition: transform .3s ease, box-shadow .3s ease;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }
}

.card:hover button {
  opacity: 1;
}


.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;

}